<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Spot</title>
    <link rel="stylesheet" href="/css/buildings.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/gradient-bg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src='/js/index.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            makePopup('<strong>Study Spot</strong> helps you find available classrooms on the UMass Amherst campus.<br><br>To keep track of your room bookings and favorited buildings, we utilize cookies. Make sure you have cookies enabled to take advantage of these features.', 'cookies-disclaimer');

            /* SEARCH FUNCTIONALITY */
            let searchBar = document.getElementsByClassName('search-bar')[0];
            let toSearch = Array.from(document.getElementsByClassName('cards')[0].children);
            searchBar.addEventListener('input', (e) => {
                toSearch.forEach(elem => {
                    let name = elem.getElementsByClassName('searchable')[0].innerHTML.toLowerCase();
                    elem.classList.remove('invisible');
                    let acronym = name.split(' ').reduce((acc, val) => {
                        return acc + val.charAt(0);
                    }, '')
                    if(name.indexOf(e.target.value.toLowerCase()) !== 0 && acronym.indexOf(e.target.value.toLowerCase()) !== 0) {
                        elem.classList.add('invisible');
                    }
                })
            });
            
            // GET CURRENT BOOKINGS
            /* <div class="booking">
                <div>Herter Hall</div>
                <div>Room 411</div>
                <div>6:00PM to 7:30 pm</div>
            </div> */

            console.log(document.cookie);
            if(parseCookie(document.cookie).bookings) {
                let bookings = parseCookie(document.cookie).bookings.split(',');
                bookings.forEach(booking => {
                    let url = '/student_events/id/' + booking;
                    fetch(url).then(response => response.json()).then(data => {
                        if(new Date(data[0].date) > new Date()) {
                            makeBooking(data[0]);
                        } else {
                            // Remove the booking from cookies.
                        }
                    })
                })
            }
            
            /* FETCHING BUILDINGS */
            let url = 'https://www.study-spot.com/';
            url += 'backend-buildings/';

            fetch(url).then(response => response.json()).then(data => {
                let buildings = '';
                let addresses = '';
                data.sort((a,b) => {
                    let fa = true;
                    let fb = true;
                    if(parseCookie(document.cookie).favorites) {
                        fa = parseCookie(document.cookie).favorites.split(',').includes(a.building_name);
                        fb = parseCookie(document.cookie).favorites.split(',').includes(b.building_name);
                    }
                    if(fa === fb) return parseFloat(b.num_rooms_available) - parseFloat(a.num_rooms_available);
                    else return fb ? 1 : -1;
                })
                for(let i = 0; i < data.length; i++) {
                    building = data[i];
                    if(building.building_address !== null) {
                        buildings += `${building.building_name} 
                        `;
                        addresses += `${building.building_address} 
                        `;
                    }

                    let building_availability = building.num_rooms_with_class === building.num_rooms_total ? 0 : (building.num_rooms_available === 0 ? 1 : 2)
                    let favorite = false;
                    if(parseCookie(document.cookie).favorites) {
                        favorite = parseCookie(document.cookie).favorites.split(',').includes(building.building_name);
                    }
                    
                    makeBuilding(building, building_availability, favorite);
                }
                //console.log(buildings)
                //console.log(addresses)
                toSearch =  Array.from(document.getElementsByClassName('cards')[0].children);
            }).then(() => {
                // FAVORITING FUNCTIONALITY
                Array.from(document.getElementsByClassName('star')).forEach(star => {
                    star.onclick = (e) => {
                        document.activeElement = null;
                        e.preventDefault();
                        let newString = star.parentElement.getElementsByClassName('searchable')[0].innerHTML;
                        let favorites = parseCookie(document.cookie).favorites;
                        if(star.classList.contains('favorite')) {
                            star.classList.remove('favorite');
                            if(favorites && favorites.split(',').includes(newString)) {
                                favorites = favorites.split(',');
                                favorites.splice(favorites.indexOf(newString), 1);
                            }
                        } else {
                            star.classList.add('favorite');
                            if(favorites) {
                                favorites = favorites.split(',');
                                if(!favorites.includes(newString)) favorites.push(newString);
                            } else {
                                favorites = newString;
                            }
                        }
                        document.cookie = `favorites=${favorites}; path=/`
                        console.log(document.cookie);
                    }
                })
            })
        })
        
    </script>
</head>
<body>
    <div class="nav-fill">
        <div class="title">
            Buildings @ University of Massachusetts, Amherst
        </div>
    </div>
    <nav class="gradient">        
        <a href="/buildings" class="logo-container">
            <img class="logo" src="/spot.png" />
            <div class="logo-text">Study Spot</div>
        </a>
        <div class="title">Buildings @ University of Massachusetts, Amherst</div>
    </nav>
    <input class="search-bar" placeholder="Search buildings here"/>
    <hr>
    <div class="cards">
        <div class="building bookings" style='grid-row: 1/2'>Upcoming Bookings</div>
    </div>
    <!-- Ybug code start (https://ybug.io) -->
    <script type='text/javascript'>
        (function() {
            window.ybug_settings = {"id":"0q3npzkdf38wtjq6906h"};
            var ybug = document.createElement('script'); ybug.type = 'text/javascript'; ybug.async = true;
            ybug.src = 'https://widget.ybug.io/button/'+window.ybug_settings.id+'.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ybug, s);
        })();
    </script>
    <!-- Ybug code end -->
</body>
</html>