<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Spot</title>
    <link rel="stylesheet" href="/css/buildings.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/gradient-bg.css">

    <script src='/js/index.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            /* SEARCH FUNCTIONALITY */
            let searchBar = document.getElementsByClassName('search-bar')[0];
            let toSearch = Array.from(document.getElementsByClassName('cards')[0].children);
            searchBar.addEventListener('input', (e) => {
                toSearch.forEach(elem => {
                    let name = elem.getElementsByClassName('searchable')[0].innerHTML.toLowerCase();
                    elem.classList.remove('invisible');
                    if(name.indexOf(e.target.value.toLowerCase()) !== 0) {
                        elem.classList.add('invisible');
                    }
                })
            });
            
            /* FETCHING BUILDINGS */
            let url = 'https://www.study-spot.com/';
            url += 'backend-buildings/';

            fetch(url).then(response => response.json()).then(data => {
                let buildings = '';
                let addresses = '';
                data.forEach(building => {
                    //console.log(building.building_address);
                    if(building.building_address !== null) {
                        buildings += `${building.building_name} 
                        `;
                        addresses += `${building.building_address} 
                        `;
                    }

                    let building_availability = building.num_rooms_with_class === building.num_rooms_total ? 0 : (building.num_rooms_available === 0 ? 1 : 2)

                    makeBuilding(building, building_availability)
                })
                //console.log(buildings)
                //console.log(addresses)
                toSearch =  Array.from(document.getElementsByClassName('cards')[0].children);
            })
        })
    </script>
</head>
<body>
    <div class="nav-fill">
        <div class="title">
            Buildings @ University of Massachusetts, Amherst
        </div>
    </div>
    <nav class="gradient">        
        <a href="/buildings" class="logo-container">
            <img class="logo" src="/spot.png" />
            <div class="logo-text">Study Spot</div>
        </a>
        <div class="title">Buildings @ University of Massachusetts, Amherst</div>
    </nav>
    <input class="search-bar" placeholder="Search buildings here"/>
    <hr>
    <div class="cards">
        
    </div>
</body>
</html>