<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/buildings.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/gradient-bg.css">

    <script src='/js/index.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            /* SEARCH FUNCTIONALITY */
            let searchBar = document.getElementsByClassName('search-bar')[0];
            let toSearch = Array.from(document.getElementsByClassName('cards')[0].children);
            searchBar.addEventListener('input', (e) => {
                toSearch.forEach(elem => {
                    let name = elem.getElementsByClassName('searchable')[0].innerHTML.toLowerCase();
                    elem.classList.remove('invisible');
                    if(name.indexOf(e.target.value.toLowerCase()) !== 0) {
                        elem.classList.add('invisible');
                    }
                })
            });
            
            /* FETCHING BUILDINGS */
            let url = 'http://localhost:5001/backend-buildings/';

            fetch(url).then(response => response.json()).then(data => {
                    
                data.forEach(building => {
                    console.log(building)
                    makeBuilding(building, 2, 'https://lh3.googleusercontent.com/p/AF1QipMPIyMkCk7Wt0RdV_-T4PzExqFwMiA37ZrChVVt=s680-w680-h510')
                })
                console.log('hi')
                toSearch =  Array.from(document.getElementsByClassName('cards')[0].children);
            })
        })
    </script>
</head>
<body>
    <div class="nav-fill">h</div>
    <nav class="gradient">
        <img class="logo" src="/spot.png" />
        <div class="title">Buildings @ University of Massachusetts, Amherst</div>
    </nav>
    <input class="search-bar" placeholder="Search buildings here"/>
    <hr>
    <div class="cards">
        
    </div>
</body>
</html>