<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/calendar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/gradient-bg.css">

    <script src='/js/index.js'></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let days = document.getElementsByClassName('day');
            let timeLine = document.getElementById('currentTime');
            function updateTime() {
                let time = new Date();
                let top = 60 * (time.getHours() - 6) + time.getMinutes();
                timeLine.style.top = top + 'px';
                for(i = 0; i < 7; i++) {
                    days[i].classList.remove('current');
                    if(i === (time.getDay() + 6) % 7) days[i].classList.add('current');
                }
            }
            updateTime();
            setInterval(updateTime, 60000);
        })
        
        let url = 'http://localhost:5001/course_meetings/' + localStorage.getItem('building_room_id')

        fetch(url).then(response => response.json()).then(data => {
            console.log(data)
            data.forEach(course_meeting => {
                console.log(course_meeting)
                let start = Math.round((parseInt(course_meeting.start_time.substring(0,2)) - 6) * 60)
                let length = parseInt(course_meeting.end_time.substring(0, 2)) - parseInt(course_meeting.start_time.substring(0,2)) * 60
                
                //make a time block for each day that the course_meeting has
                makeTimeBlock(start, length, course_meeting.days[0], 2, course_meeting.description)
            })
        })
        .catch(err => console.error(err))

    </script>
</head>
<body>
    <div class="nav-fill">h</div>
    <nav class="gradient">
        <img class="logo" src="../spot.png" />
        <div class="title">ILC Room N111</div>
    </nav>
    <div class="week">
        <div class="day">
            <input type="text" id="b1" class="activate">
            <label for="b1" class="block green" style="top: 120px; height: 180px">
                <div class='desc'>This room is free!</div>
            </label>
        </div>
        <div class="day">
        </div>
        <div class="day">
        </div>
        <div class="day">
        </div>
        <div class="day">
            <div class="block green" style="top: 120px; height: 660px"></div>
        </div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="line" id="currentTime"></div>
    </div>
    
</body>
</html>