<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/css/calendar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/gradient-bg.css">

    <script src='/js/index.js'></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            /* UPDATE TIME ON CALENDAR */
            let days = document.getElementsByClassName('day');
            let timeLine = document.getElementById('currentTime');
            function updateTime() {
                let time = new Date();
                let top = 60 * (time.getHours() - 6) + time.getMinutes();
                timeLine.style.top = top + 'px';
                for(i = 0; i < 7; i++) {
                    days[i].classList.remove('current');
                    if(i === (time.getDay()) % 7) days[i].classList.add('current');
                }
            }
            updateTime();
            setInterval(updateTime, 60000);

            /* FETCH CLASSROOM DATA */            
            let url = 'https://study-spot-ms.herokuapp.com/';
            url += 'course_meetings/building_room_id/' + localStorage.getItem('building_room_id')

            fetch(url).then(response => response.json()).then(data => {
                console.log(data)
                data.forEach(course_meeting => {
                    course_meeting.days.forEach(day => {
                        console.log(course_meeting)

                        
                        //calculate the time difference between start and end time of the course_meeting
                        let time_start = new Date();
                        let time_end = new Date();
                        let value_start = course_meeting.start_time.split(':');
                        let value_end = course_meeting.end_time.split(':');
                        time_start.setHours(value_start[0], value_start[1], value_start[2], 0)
                        time_end.setHours(value_end[0], value_end[1], value_end[2], 0)

                        console.log(value_start)
                        console.log(value_end)
                        console.log((time_end - time_start) / 60000)
                        
                        
                        let start = (parseInt(course_meeting.start_time.substring(0,2)) - 6) * 60 + (parseInt(course_meeting.start_time.substring(3,5)))
                        let length = (time_end - time_start) / 60000
                        makeTimeBlock(start, length, day, 0, course_meeting.course_title);
                    })
                    //make a time block for each day that the course_meeting has
                })
            })
            .catch(err => console.error(err))
        })
        
        

    </script>
</head>
<body>
    <div class="nav-fill">h</div>
    <nav class="gradient">
        <a href="/buildings" class="logo-container">
            <img class="logo" src="/spot.png" />
            <div class="logo-text">Study Spot</div>
        </a>
        <div class="title">
            Schedule @ <%= name %>
        </div>
    </nav>
    <div class="cal-nav">
        <div title="See last week" class="last cb">&lt;</div>
        <div title="See next week" class="next cb">&gt;</div>
        <div title="Book time block" class="add cb">+</div>
    </div>
    <div class="week">
        <div class="day">
        </div>
        <div class="day">
        </div>
        <div class="day">
        </div>
        <div class="day">
        </div>
        <div class="day">
        </div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="line" id="currentTime"></div>
    </div>
    
</body>
</html>