<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classrooms</title>
    <link rel="stylesheet" href="/css/rooms.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/gradient-bg.css">

    <script src='/js/index.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            function order(elems) {
                for(let i = 0; i < elems.length; i++) {
                    let elem = elems[i];
                    elem.style.transform = `translateY(${i * 100}%)`;
                    elem.classList.remove('dark');
                    if(i % 2 === 0) elem.classList.add('dark');
                }
            }

            let searchBar = document.getElementsByClassName('search-bar')[0];
            let toSearch = Array.from(document.getElementsByClassName('rooms')[0].children);
            searchBar.addEventListener('input', (e) => {
                order(
                    toSearch.reduce((acc, val) => {
                        let name = val.getElementsByClassName('searchable')[0].innerHTML.toLowerCase();
                        val.classList.remove('invisible');
                        let index = name.indexOf(e.target.value.toLowerCase());
                        if(index === -1) {
                            val.classList.add('invisible');
                        } else {
                            acc.push(val);
                        }
                        return acc;
                    }, [])
                    .sort(sortAlphaColor)
                );
            });
            let url = 'https://www.study-spot.com/';
            url += 'building_rooms/' + localStorage.getItem('building_id');

            function sortAlphaColor(a,b) {
                let ad = a.getElementsByClassName('dot')[0].classList.contains('green')
                let bd = b.getElementsByClassName('dot')[0].classList.contains('green')
                if(ad === bd) {
                    let at = a.getElementsByClassName('searchable')[0].innerHTML
                    let bt = b.getElementsByClassName('searchable')[0].innerHTML
                    return bt > at ? -1 : 1;
                } else {
                    return ad ? -1 : 1;
                }
            }

            fetch(url).then(response => response.json()).then(data => {
                data.forEach(building_room => {
                    makeRoom(building_room, building_room.curr_availability);
                })
                toSearch = Array.from(document.getElementsByClassName('rooms')[0].children);
                toSearch.sort(sortAlphaColor);
                console.log(toSearch);
                order(toSearch);
            })
            .catch(err => console.error(err))
        })
    </script>
</head>
<body>
    <div class="nav-fill">h</div>
    <nav class="gradient">
        <a href="/buildings" class="logo-container">
            <img class="logo" src="/spot.png" />
            <div class="logo-text">Study Spot</div>
        </a>
        <div class="title">
            Classrooms @ <%= name %>  
        </div>
    </nav>    
    <input class="search-bar" placeholder="Search rooms here"/>
    <hr>
    <div class="rooms">
        
    </div>
</body>
</html>