@media (hover: hover) {
    .building:hover {
        transform: translate(-4px, -4px);
    }
    .green:hover {
        box-shadow: inset 0 0 0 2px green, inset 0 0 0 1000px rgba(255,255,255,0.6), 8px 8px green;
    }
    .orange:hover {
        box-shadow: inset 0 0 0 2px orange, inset 0 0 0 1000px rgba(255,255,255,0.6), 8px 8px orange;
    }
    .red:hover {
        box-shadow: inset 0 0 0 2px red, inset 0 0 0 1000px rgba(255,255,255,0.6), 8px 8px red;
    }
}
.cards {
    display: grid;
    /* grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3); */
    /* grid-auto-rows: auto; */
    
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill,minmax(min(100%, 250px),1fr));
    gap: 3vh 2vw;
}
.building {
    /* font-size: 15px; */
    /* aspect-ratio: 2/1; */
    position: relative;
    /* flex: 0 1 auto; */
    /* margin: 1vw; */
    padding: 2% 10%;
    /* filter: saturate(1.5); */
    /* border-radius: 10px; */
    border-radius: 10px;
    transform: translate(0px, 0px);
    transition: transform .3s, box-shadow .3s;
    -webkit-transition: transform .3s, box-shadow .3s;
    cursor: pointer;
    background-size: cover;
    /* height: 100%; */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow: hidden;
}
/* .building > p {
    background: #fffb;
    padding: 10px;
    box-shadow: 0px 100px 0px 100px #fffb;
} */
.building:active {
    transform: translate(0px, 0px) !important;
}
.green {
    color: #000c;
    /* outline: 2px solid green; */
    box-shadow: inset 0 0 0 2px green, inset 0 0 0 1000px rgba(255,255,255,0.75), 0px 0px green;
}
.green:active {
    box-shadow: inset 0 0 0 2px green, inset 0 0 0 1000px rgba(255,255,255,0.6), 0px 0px green;
}
.orange {
    color: #000c;
    /* outline: 2px solid orange; */
    box-shadow: inset 0 0 0 2px orange, inset 0 0 0 1000px rgba(255,255,255,0.75), 0px 0px orange;
}
.orange:active {
    box-shadow: inset 0 0 0 2px orange, inset 0 0 0 1000px rgba(255,255,255,0.6), 0px 0px orange;
}
.red {
    color: #000c;
    /* outline: 2px solid red; */
    box-shadow: inset 0 0 0 2px red, inset 0 0 0 1000px rgba(255,255,255,0.75), 0px 0px red;
}
.red:active {
    box-shadow: inset 0 0 0 2px red, inset 0 0 0 1000px rgba(255,255,255,0.6), 0px 0px red;
}