@media (hover: hover) {
    .building:hover {
        transform: translate(-4px, -4px);
    }
    .green:hover {
        box-shadow: inset 0 0 0 2px green, inset 0 0 0 1000px rgba(255,255,255,0.6), 8px 8px green;
    }
    .orange:hover {
        box-shadow: inset 0 0 0 2px orange, inset 0 0 0 1000px rgba(255,255,255,0.6), 8px 8px orange;
    }
    .red:hover {
        box-shadow: inset 0 0 0 2px red, inset 0 0 0 1000px rgba(255,255,255,0.6), 8px 8px red;
    }
    .building:hover > .star {
        opacity: 100%;
    }
    .building > .star:hover .cls-1 {
        fill-opacity: 100%;
    }
    .booking:hover {
        opacity: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .building > .star {
        opacity: 100% !important;
    }
}
.cards {
    display: grid;
    /* grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3); */
    /* grid-auto-rows: auto; */
    
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill,minmax(min(100%, 250px),1fr));
    gap: 3vh 2vw;
}
.bookings {
    /* padding: 0 !important;
    border-radius: 0 !important; */
    cursor: default !important;
    background: #eee;
    padding: 10px !important;
    border-radius: 10px !important;
    box-shadow: 0 0 0 2px inset #ccc;
    text-align: center;
}
.bookings:empty {
    height: 0px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
.bookings:hover {
    transform: translate(0, 0);
}
.booking {
    background: #ffa50066;
    padding: 10px 10px 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: 15px;
    margin: 10px 0px;
    opacity: 90%;
    transition: all .3s;
}
.booking:before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: orange;
}
.booking > *:nth-child(1) {
    font-weight: bolder;
}
.building {
    /* font-size: 15px; */
    /* aspect-ratio: 2/1; */
    position: relative;
    /* flex: 0 1 auto; */
    /* margin: 1vw; */
    padding: 2% 10%;
    filter: saturate(1.5);
    /* border-radius: 10px; */
    border-radius: 30px;
    transform: translate(0px, 0px);
    transition: transform .3s, box-shadow .3s;
    -webkit-transition: transform .3s, box-shadow .3s;
    cursor: pointer;
    background-size: cover;
    /* height: 100%; */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow: hidden;
}
.building > .star {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
    width: 24px;
    transition: all .3s;
}
.building > .star.favorite {
    opacity: 100%;
    animation: pop .5s cubic-bezier(.47,1.64,.41,.8);
}
@keyframes pop {
    from {
        transform: scale(.5);
    } to {
        transform: scale(1);
    }
}
.building > .star .cls-1, .building > .star .cls-2 {
        fill: #fcd53f;
        transition: all .2s;
}
.building > .star .cls-1 {
    fill-opacity: 0%;
}
.building > .star.favorite .cls-1 {
    fill-opacity: 100%;
}
/* .building:hover::before {
    opacity: 1;
}
.building:hover::before:hover {
    opacity: 1;
} */
/* .building > p {
    background: #fffb;
    padding: 10px;
    box-shadow: 0px 100px 0px 100px #fffb;
} */
.building:active:has(.star:not(:active)) {
    transform: translate(0px, 0px) !important;
}
.green {
    color: #000c;
    /* outline: 2px solid green; */
    box-shadow: inset 0 0 0 2px green, inset 0 0 0 1000px rgba(255,255,255,0.75), 0px 0px green;
}
.green:active:has(.star:not(:active)) {
    box-shadow: inset 0 0 0 2px green, inset 0 0 0 1000px rgba(255,255,255,0.6), 0px 0px green;
}
.orange {
    color: #000c;
    /* outline: 2px solid orange; */
    box-shadow: inset 0 0 0 2px orange, inset 0 0 0 1000px rgba(255,255,255,0.75), 0px 0px orange;
}
.orange:active:has(.star:not(:active)) {
    box-shadow: inset 0 0 0 2px orange, inset 0 0 0 1000px rgba(255,255,255,0.6), 0px 0px orange;
}
.red {
    color: #000c;
    /* outline: 2px solid red; */
    box-shadow: inset 0 0 0 2px red, inset 0 0 0 1000px rgba(255,255,255,0.75), 0px 0px red;
}
.red:active:has(.star:not(:active)) {
    box-shadow: inset 0 0 0 2px red, inset 0 0 0 1000px rgba(255,255,255,0.6), 0px 0px red;
}