@media only screen and (max-width: 600px) {
    .day:not(.current) {
        display: none !important;
    }
    .week {
        grid-template-columns: 100% !important;
        margin: 80px 60px !important;
    }
}
.week {
    margin: 80px calc(40px - 12%);
    display: grid;
    grid-template-columns: 14.2857143% 14.2857143% 14.2857143% 14.2857143% 14.2857143% 14.2857143% 14.2857143%;
    background: repeating-linear-gradient(
        0deg,
        #fff,
        #fff 60px,
        #ccc 60px,
        #ccc 120px
    );
    height: 1080px;
    position: relative;
    /* margin: 80px 50px; */
}
.week:before {
    content: '6:00am 7:00am 8:00am 9:00am 10:00am 11:00am 12:00pm 1:00pm 2:00pm 3:00pm 4:00pm 5:00pm 6:00pm 7:00pm 8:00pm 9:00pm 10:00pm 11:00pm 12:00am';
    overflow: wrap;
    width: 80px;
    padding-right: 10px;
    position: absolute;
    text-align: right;
    line-height: 60px;
    transform: translate(-100%, -30px);
}
.day {
    height: 100%;
    width: 100%;
    position: relative;
}
.current {
    background: #8cf6 !important;
}
.current:before {
    background: inherit;
    border-radius: 30px 30px 0 0;
}
.day:nth-child(2n) {
    background: #fff6;
}
.day:nth-child(2n+1) {
    background: #ccc6;;
}
.day:before {
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 60px;
    transform: translateY(-100%);
}
.day:nth-child(1):before {
    content: 'Sunday';
}
.day:nth-child(2):before {
    content: 'Monday';
}
.day:nth-child(3):before {
    content: 'Tuesday';
}
.day:nth-child(4):before {
    content: 'Wednesday';
}
.day:nth-child(5):before {
    content: 'Thursday';
}
.day:nth-child(6):before {
    content: 'Friday';
}
.day:nth-child(7):before {
    content: 'Saturday';
}
.line {
    width: 100%;
    height: 2px;
    background: #48f;
    position: absolute;
    left: 0;
    z-index: 500;
}
.line:before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: inherit;
    transform: translate(-100%, calc(-50% + 1px));
}
.block {
    width: 100%;
    position: absolute;
    padding: 10px 10px 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    opacity: .75;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.block:before {
    content: '';
    width: 5px;
    height: 100%;
    border-radius: 0px;
    position: absolute;
    left: 0;
    top: 0;
}
.block:hover {
    opacity: 1;
}
.green {
    background: #00800066;
}
.orange {
    background: #ffa50066;
}
.red {
    background: #ff000066;
}
.green:before {
    background: green;
}
.orange:before {
    background: orange;
}
.red:before {
    background: red;
}

.cb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ccc;
    color: white;
    cursor: pointer;
}

/* .activate {
    opacity: 0;
    top: 50%;
    pointer-events: none;
    position: sticky;
    height: 0px;
    border: 0;
    outline: 0;
}
.desc {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: white;
    z-index: 100;
    left: 0;
    transition: left .3s, z-index 0s, opacity .3s;
    cursor: default;
    height: auto;
    border-radius: 0 10px 10px 10px;
    top: 4px;
    padding: 15px 15px 15px calc(18px + 15px);
    transform: translateX
}
.activate:focus + .block:after {
    transition: z-index 0s, width 0.1 ease-in, height 0.1s ease-in;
    z-index: 1000;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    pointer-events: none;
    border: 0;
    outline: 0;
}
.activate:focus + .block {
    cursor: default;
}
.activate:focus + .block > .desc {
    left: calc(100% - 18px);
    opacity: 100;
    z-index: 999;
    pointer-events: all;
} */