@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@media only screen and (max-width: 600px) {

    .logo-text {
        display: none;
    }
    .title {
        font-size: 14px !important;
    }
    .nav-fill {
        font-size: 30px !important;
    }
    body {
        padding: 3% 5% !important;
    }
}
@media (hover: hover) {
    a:hover {
        color:inherit
    }

}
* {
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge, IE */
}
body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding: 3% 15%;
    margin: 0px;
    background: #2a26eb05;
    overflow-x: hidden;
}
a {
    margin: 0;
    padding: 0;
    outline: 0;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: block;
}
h2 {
    font-weight: 600 !important;
    font-size: 24px;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;	
    margin: 0;
	width: 100%;
    height: 100vh;
}
.logo-container {
    font-weight: lighter;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.logo-text {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-left: 3vw;
}
.logo {
    transform: translateY(120%);
    height: 90%;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    -webkit-transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    margin-left: 1.5vw;
}
.title {
    float: right;
    font-weight: lighter;
    font-size: 20px;
    max-width: 50vw;
}
.nav-fill {
    width: 100%;
    padding: 3vh 2vw;
    position: relative;
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: none;
    align-items: center;
    background: red;
}
nav {
    box-shadow: 0 10px 10px #00000010;
    overflow: hidden;
    margin: none;
    position: fixed;
    z-index: 10000000000;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    padding: 3vh 2vw;
    align-items: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /* box-shadow: inset 0 -100px 50px #fff8; */
}
nav > * {
    display: inline-block;
}
h1 {
    position: absolute;
    transform: translate(3vw, -120%);
    font-weight: bold;
    font-size: 4.5vw;
}
#school-search {
    font-size: 2vw;
    padding: 1.5vw 3vw;
    width: 100%;
    border-radius: 4vw;
    border: 2px solid white;
    color: black;
    outline: none;
    box-shadow: 0px 0px 0px 0px #aaa;
    transition: .3s all;
    -webkit-transition: .3s all;
    transform: translate(0px, 0px)
}
#school-search:focus {
    box-shadow: 8px 8px 0px 0px #aaa;
    transform: translate(-4px, -4px);
}
#school-search:focus + .search-icon {
    transform: translate(calc(-200% - 4px), calc(-50% - 4px));
}
.search-icon {
    position: absolute;
    top: 50%;
    transform: translate(-200%, -50%);
    color: black;
    float: right;
    font-size: 2.75vw !important;
    transition: all .3s;
    -webkit-transition: all .3s;
    cursor: pointer;
}
.search-bar {
    width: 100%;
    display: flex;
    font-size: calc(16px + .1vw);
    padding: 2vh calc(12px + 1vw);
    border-radius: 1000px;
    margin: 10px 0;
    border: 0;
    outline: 0;
    background: #eee;
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    box-shadow: 0px 0px 0 #aaa;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.search-bar:focus/*,  .search-bar:hover */ {
    box-shadow: 4px 4px 0 #aaa;
    transform: translate(-2px, -2px);
    /* box-shadow: 0px 4px 0 #aaa;
    transform: translate(0px, -4px); */
}
hr {
    height: 1px;
    outline: 0;
    border: 0;
    background: #eee;
    margin: 30px;
}
.invisible {
    pointer-events: none;
    opacity: 0;
}
.rooms > .invisible {
    height: 0px !important;
}
.cards > .invisible {
    position: absolute;   
}
.block-details.invisible {
    transform: translateY(20px);
}

.popup {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    z-index: 10000000000000;
    cursor: pointer;
    background: white;
    animation: pop-up .2s cubic-bezier(.47,1.64,.41,.8);
    box-shadow: 0 0 3px 2px #0001;
}
.popup-close {
    margin-left: 10px;
    font-size: 16px;
}
@keyframes pop-up {
    0% {
        opacity: 0%;
        transform: translate(-50%, 100%);
    }
    /* 80% {
        opacity: 80%;
        transform: translate(-50%, -20%);
    } */
    100% {
        opacity: 100%;
        transform: translate(-50%, 0%);
    }
}