.rooms{
    position: relative;
}
@media only screen and (max-width: 600px) {
    .result > * {
        text-align: center !important;
    }
    .result { 
        grid-template-columns: calc(2*(6px + 4vw)) 1fr 1fr !important;
        text-align: center !important;
        background: #fff0 !important;
        border-bottom: 1px solid #eee; 
    }
    .rooms {
        margin: 10px 30px;
    }
    hr {
        display: none;
    }
}
@media (hover: hover) {
    .result:hover {
        background: #bbb;
        /* color: white; */
    }
    .result:hover > .dot {
        transform: translate(135%, 0) scale(10) !important;
    }
    .result:nth-child(2n):hover {
        background: #bbb;
    }
}
.result {
    background: #eee;
    display: grid;
    width: 100%;
    left: 0;
    height: calc(4.5*(8px + .4vw));
    position: absolute;
    align-items: center;
    padding: 0px;
    cursor: pointer;
    grid-template-columns: calc((6px + 4vw)) 1fr 1fr;
    transition: all .5s;
    -webkit-transition: all .5s;
    color: black;
    overflow: hidden;
    white-space: nowrap;
}
.result.dark {
    background: #ddd;
}
.dot {
    height: 25%;
    aspect-ratio: 1;
    transition: all .5s;
    -webkit-transition: all .5s;
    border-radius: 50%;
    transform: translate(135%, 0) scale(1) !important;
}
.result > * {
    font-size: calc(12px + .1vw);
    /* font-size: 12px; */
    display: inline-block;
    display: flex;
    transform: scale(1);
}
.result > *:nth-child(2) {
    font-weight: bold;
}
.result::before {
    content: '';
    aspect-ratio: 1;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    transform: translateX(150%);
}
.green{
    background: green;
}
.orange{
    background: orange;
}
.red{
    background: red;
}
/* .result:nth-child(2n) {
    background: #ddd;
} */